@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

.bgYellow {
  background-color: yellow;
}

.bgOrange {
  background-color: #ff8000;
}

.bgBlue{
  background-color: blue;
}
