@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

.bgYellow {
  background-color: #FFEE58;
}

.bgIndigo{
  background-color: #3F51B5;
}

.bgOrange {
  background-color: #ff8000;
}

.bgBlue{
  background-color: #007dc5;
}

.bgPurple{
  background-color: #77216F;
}

.bgGreen{
  background-color: #00897B;
}

.divBox{
  color:white;
  padding: 3em;
  border-radius: 5px;
}

md-content, body{
  background-color: #F7F3EB;
}
